.App-Container {
  flex-direction: column;
  display: flex;
  background-color: var(--background);
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.App-supermarket-container {
  flex-direction: column;
}

.App-info {
  padding: 2em;
}