body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #31708E;
  --secondary: #5085A5;

  --highlight: #DB504A;

  --background: #F7F9FB;
  --dark: #2B2D42;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  font-family: 'Noto Serif', serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--secondary);
  border-bottom: thin;
  text-decoration: underline;
  text-decoration-color: var(--highlight);
}

p {
  padding: 1em;
}

a {
  color: var(--highlight);
}

a:hover {
  color: var(--dark);
}

div {
  margin: 0px;
  padding: 0px;
  display: flex;
}

section {
  margin: 0px;
  padding: 0px;
  display: flex;
  background-color: var(--background);
  flex-direction: column;
  flex: 1;
}

span {
  font-weight: bold;
  color: var(--highlight);
}

header {
  background-color: var(--primary);
  width: 100%;
}

header>.title {
  color: var(--background);
  text-decoration: none;
}

footer {
  background-color: var(--dark);
  color: var(--background);
  width: 100%;
}

header,
section,
footer {
  padding: 5px;
}